.header {
    display: flex;
    border: 2px solid palegoldenrod;
    min-height: 80px;
    align-items: center;
    margin: 20px 10px 20px 10px;
}

.rightWrapper {
    margin-left: auto;
    margin-right: 10px;
}
.leftWrapper{
    display: flex;
    margin-right: auto;
    margin-left: 10px;
    align-items: center; 
}
.leftWrapper > span{
    margin-left:5px
}
.rightWrapper > span {
    margin-right: 30px
}

.userName{
    margin-right: 30px;
}
.logoutBtn{
   border: 1px outset rgb(149, 0, 255);
   min-height:30px;
   min-width:70px;
   cursor:pointer;
}